:root {
  --headerFont: 'Noto Sans JP', sans-serif;
  --darkGray: #a9a9a9;
  --ltYellow: #ffffe0;
  --darkBlue: #00008b;
}

body {
  background-color: var(--darkBlue);
}

h1 {
  margin: 20px;
  color: var(--darkBlue);
  text-align: center;
  font-family: var(--headerFont);
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px 10px;
  outline: 1px solid var(--darkGray);
}

td {
  padding: 5px 10px;
  outline: 1px solid var(--darkGray);
  min-width: 50px;
}

.container {
  background-color: var(--ltYellow);
  border-radius: 15px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.titleImage {
  height: 1.5em;
  margin: 0 50px;
}

.formRow {
  margin: 10px
}

.tableHeader {
  text-align: center;
  font-family: var(--headerFont);
}