body {
  background-color: darkblue;
}

h1 {
  margin: 20px;
  color: darkblue;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px 10px;
  outline: 1px solid darkgray;
}

td {
  padding: 5px 10px;
  outline: 1px solid darkgray;
  min-width: 50px;
}

.container {
  background-color: lightyellow;
  border-radius: 15px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.titleImage {
  height: 1.5em;
  margin: 0 50px;
}

.formRow {
  margin: 10px
}

.tableHeader {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}